* {
  font-family: "helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000000;
  line-height: 20px;
}

body {
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.headline-big {
  font-size: 22vw;
  line-height: 20px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  color: #ff3700;
}

h3 {
  font-size: 15px;
  line-height: 20px;
}

p,
ul,
ol {
  font-size: 15px;
  line-height: 20px;
  color: #555555;
}

label {
  font-size: 12px;
  color: #dedede;
}

.styled-select {
  position: relative;
}

.styled-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  padding: 20px;
  border: 1px solid #000000;
}

.styled-select .select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-left: 1px solid #000000;
  pointer-events: none;
}

.styled-select .select-arrow img {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  padding: 20px;
  background-color: #ff3700;
  color: #fff;
}

#product-info {
  -ms-grid-rows: minmax(-webkit-max-content, auto) minmax(-webkit-min-content, -webkit-max-content);
  -ms-grid-rows: minmax(max-content, auto) minmax(min-content, max-content);
  grid-template-rows: minmax(-webkit-max-content, auto) minmax(-webkit-min-content, -webkit-max-content);
  grid-template-rows: minmax(max-content, auto) minmax(min-content, max-content);
}

.headline {
  padding-bottom: 60px;
}

.description-content {
  margin-top: 20px;
}

.list-with-stroke {
  list-style-type: none;
}

.list-with-stroke li {
  padding: 20px 0;
  border-top: 1px solid #dedede;
}

.list-with-stroke li:last-child {
  border-bottom: 1px solid #dedede;
}

.form-wrapper {
  padding-top: 60px;
}

#add-to-cart-form {
  margin-top: -20px;
}

#add-to-cart-button .product-price {
  float: right;
}

#product-info-content {
  grid-row-gap: 20px;
}

.link-to-cart .cart-item-count {
  display: inline-block;
}

.link-to-cart {
  position: fixed;
  top: 0;
  right: 0;
  padding: 40px;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
}

.two-columns {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.valign-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.valign-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-content {
  min-height: 100vh;
  padding: 40px;
  width: calc(50% + 20px);
  margin-left: auto;
}

.sticky-side-image {
  position: fixed;
  left: 0;
  top: 40px;
  bottom: 40px;
  background-color: green;
  width: calc(50% - 20px);
}

.sticky-side-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-product-image {
  width: 100%;
  height: 100%;
}