* {
  font-family: "helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000000;
  line-height: 20px;
}

body {
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.headline-big {
  font-size: 22vw;
  line-height: 1;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 15px;
  line-height: 20px;
}

p,
ul,
ol {
  font-size: 15px;
  line-height: 20px;
  color: #555555;
}

label {
  font-size: 12px;
  color: #dedede;
}

.styled-select {
  position: relative;
}

.styled-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  padding: 20px;
  border: 1px solid #000000;
}

.styled-select .select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-left: 1px solid #000000;
  pointer-events: none;
}

.styled-select .select-arrow img {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  padding: 20px;
  background-color: #000000;
  color: #fff;
}

.headline {
  padding-bottom: 60px;
}

.description-content {
  margin-top: 20px;
}

.list-with-stroke {
  list-style-type: none;
}

.list-with-stroke li {
  padding: 20px 0;
  border-top: 1px solid #dedede;
}

.list-with-stroke li:last-child {
  border-bottom: 1px solid #dedede;
}

.form-wrapper {
  padding-top: 60px;
}

#add-to-cart-form {
  margin-top: -20px;
}

#add-to-cart-button {
  background: #ff3700;
}

#add-to-cart-button .product-price {
  float: right;
}

#product-info-content {
  grid-row-gap: 20px;
}

.cart-item-count {
  color: #fff;
  text-align: center;
  border-radius: 100%;
}

.link-to-cart,
.link-to-home {
  position: fixed;
  top: 0;
  right: 0;
  padding: 40px;
  color: #555555;
}

.link-to-home {
  color: #000000;
}

.link-to-cart .cart-item-count {
  display: block;
  font-size: 0px;
  width: 10px;
  height: 10px;
  background: #dedede;
  border-radius: 100%;
  margin-top: 4px;
}

.link-to-cart .cart-text {
  display: none;
  position: absolute;
  right: calc(100% - 20px);
  top: 40px;
  white-space: nowrap;
}

.link-to-cart.cart-filled .cart-item-count {
  width: 20px;
  height: 20px;
  background-color: #ff3700;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin-top: 0;
}

.link-to-cart:hover .cart-text {
  display: block;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
}

.two-columns {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.valign-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.valign-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-content {
  min-height: 100vh;
  padding: 40px;
  width: calc(50% + 20px);
  margin-left: auto;
  -ms-grid-rows: minmax(-webkit-max-content, auto) minmax(-webkit-min-content, -webkit-max-content);
  -ms-grid-rows: minmax(max-content, auto) minmax(min-content, max-content);
  grid-template-rows: minmax(-webkit-max-content, auto) minmax(-webkit-min-content, -webkit-max-content);
  grid-template-rows: minmax(max-content, auto) minmax(min-content, max-content);
}

.sticky-side-image {
  position: fixed;
  left: 0;
  top: 40px;
  bottom: 40px;
  background-color: green;
  width: calc(50% - 20px);
}

.sticky-side-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-product-image {
  width: 100%;
  height: 100%;
}

#cart {
  background-color: #bbbbbb;
  color: #fff;
}

#cart.cart-filled {
  background: #ff3700;
}

#cart a {
  color: inherit;
}

#cart-title {
  position: relative;
}

#cart:not(.cart-filled) #cart-title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  -moz-text-fill-color: transparent;
  -moz-text-stroke-color: #fff;
  -moz-text-stroke-width: 2px;
}

#cart .cart-item-count {
  display: block;
  font-size: 0.08em;
  color: #fff;
  width: 2em;
  height: 2em;
  line-height: 2em;
  position: absolute;
  top: 1em;
  right: 0;
  border: solid 2px #fff;
}

#cart.cart-filled .cart-item-count {
  border: 0;
  background: #000000;
}

#cart.cart-filled #cart-content {
  padding-bottom: 160px;
  -ms-grid-rows: auto 40px;
  grid-template-rows: auto 40px;
}

#cart-empty-lines,
#back-to-fitra {
  -ms-grid-column: 2;
  grid-column: 2;
}

.empty-line {
  border-top: 1px solid #fff;
  height: 60px;
}

.empty-line:first-child {
  margin-top: 20px;
}

.empty-line:last-child {
  margin-bottom: 20px;
}

#back-to-fitra {
  margin-bottom: 20px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  text-align: left;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}

tbody tr {
  border-top: 1px #fff solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

td {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

td:last-child {
  text-align: right;
  vertical-align: top;
}

.remove-line {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 20px 10px;
  display: block;
  text-align: center;
  width: 40px;
}

.remove-text {
  position: absolute;
  top: 0;
  right: 100%;
  padding: 20px 0 20px 20px;
  display: none;
  background: #ff3700;
  color: #000000;
}

.remove-line:hover .remove-text {
  display: block;
}

#cart-totals {
  border-bottom: 1px solid #fff;
}

#cart-form-wrap {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  position: relative;
}

#checkout-button {
  position: absolute;
  width: 100%;
  bottom: -160px;
  left: 0;
}

#cart-support p {
  color: inherit;
}

#content-404 a {
  color: #000000;
}