// put your styles here

$main-font: "helvetica Neue", Arial, Helvetica, sans-serif;

$black: #000000;
$white: #fff;
$color-accent: #ff3700;
$color-text: #555555;
$color-border: #dedede;
$color-label: #dedede;

$line-global: 20px;
$gutter-global: $line-global * 2;

$body-font-size: 15px;
$label-font-size: 12px;

$standard-border: 1px solid $color-border;
$black-border: 1px solid $black;

@mixin reset-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
}

// base

* {
  font-family: $main-font;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: $black;
  line-height: $line-global;
}

body {
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
}

// Style guide

.headline-big {
  font-size: 22vw;
  line-height: $line-global;
}

h2 {
  font-size: $body-font-size * 2;
  line-height: $line-global * 2;
  color: $color-accent;
}

h3 {
  font-size: $body-font-size;
  line-height: $line-global;
}

p,
ul,
ol {
  font-size: $body-font-size;
  line-height: $line-global;
  color: $color-text;
}

label {
  font-size: $label-font-size;
  color: $color-label;
}

.styled-select {
  position: relative;
}

.styled-select select {
  @include reset-input;
  width: 100%;
  font-size: $body-font-size;
  line-height: $line-global;
  padding: $line-global;
  border: $black-border;
}

.styled-select .select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: $line-global * 3;
  text-align: center;
  line-height: $line-global * 3;
  border-left: $black-border;
  pointer-events: none;
}

.styled-select .select-arrow img {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

button {
  @include reset-input;
  width: 100%;
  font-size: $body-font-size;
  line-height: $line-global;
  padding: $line-global;
  background-color: $color-accent;
  color: $white;
}

// index styles

#page-index {
}

#product-info {
  grid-template-rows: minmax(max-content, auto) minmax(min-content, max-content);
}

.headline {
  padding-bottom: $line-global * 3;
}

.description-content {
  margin-top: $line-global;
}

.list-with-stroke {
  list-style-type: none;
}

.list-with-stroke li {
  padding: $line-global 0;
  border-top: $standard-border;
}

.list-with-stroke li:last-child {
  border-bottom: $standard-border;
}

.form-wrapper {
  padding-top: $line-global * 3;
}

#add-to-cart-form {
  margin-top: -($line-global);
}

#add-to-cart-button .product-price {
  float: right;
}

#product-info-content {
  grid-row-gap: $gutter-global/2;
}

.link-to-cart .cart-item-count {
  display: inline-block;
}

// global styles

.link-to-cart {
  position: fixed;
  top: 0;
  right: 0;
  padding: $gutter-global;
}

// utility classes

.grid {
  display: grid;
  grid-gap: $gutter-global;
}

.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.valign-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-content {
  min-height: 100vh;
  padding: $gutter-global;
  width: calc(50% + #{$gutter-global/2});
  margin-left: auto;
}

.sticky-side-image {
  position: fixed;
  left: 0;
  top: $gutter-global;
  bottom: $gutter-global;
  background-color: green;
  width: calc(50% - #{$gutter-global/2});
}

.sticky-side-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-product-image {
  width: 100%;
  height: 100%;
}
